<Theme>
	<Mode id='Theme'>
		<version>1</version>
		<w>250</w>
		<h>120</h>
		<i>600000</i>
		<f>Sans</f>
		<s>10</s>
		<c>255,255,255</c>
		<sw>0</sw>
	</Mode>
	<Mode id='Menu'>
		<Item id='Image'>
			<x>8</x>
			<y>24</y>
			<v>button.png</v>
		</Item>
		<Item id='Title'>
			<x>95</x>
			<y>0</y>
			<w>60</w>
			<h>12</h>
			<v1>In Progress</v1>
			<v2>User Stats</v2>
			<v3>Team Stats</v3>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='Background'>
			<x>0</x>
			<y>0</y>
			<v>background.png</v>
		</Item>
	</Mode>
	<Mode id='Progress'>
		<Item id='LSince'>
			<x>45</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>Since:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TSince'>
			<x>110</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LDue'>
			<x>45</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>Due:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TDue'>
			<x>110</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LPoints'>
			<x>45</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Points:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TPoints'>
			<x>110</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LName'>
			<x>45</x>
			<y>83</y>
			<w>0</w>
			<h>0</h>
			<v> </v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TName'>
			<x>45</x>
			<y>83</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LPercentage'>
			<x>45</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>Percentage:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TPercentage'>
			<x>110</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LRemaining'>
			<x>45</x>
			<y>63</y>
			<w>0</w>
			<h>0</h>
			<v>Remaining:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TRemaining'>
			<x>110</x>
			<y>63</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LRunning'>
			<x>45</x>
			<y>73</y>
			<w>0</w>
			<h>0</h>
			<v>Running:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TRunning'>
			<x>110</x>
			<y>73</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LSerial'>
			<x>45</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Serial:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TSerial'>
			<x>110</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='BProgress'>
			<x>45</x>
			<y>97</y>
			<v>barlines.png</v>
		</Item>
		<Item id='LProgress'>
			<x>45</x>
			<y>97</y>
			<w>0</w>
			<h>0</h>
			<v>barload.png</v>
		</Item>
	</Mode>
	<Mode id='Self'>
		<Item id='LUsername'>
			<x>45</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>UserName:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TUsername'>
			<x>115</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LScore'>
			<x>45</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Score:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TScore'>
			<x>115</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LWUs'>
			<x>45</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>WUs:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TWUs'>
			<x>115</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LTeamRank'>
			<x>45</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>TeamRank:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TTeamRank'>
			<x>115</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LRank'>
			<x>45</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Rank:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TRank'>
			<x>115</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
	</Mode>
	<Mode id='Team'>
		<Item id='LTeamName'>
			<x>45</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>Name:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TTeamName'>
			<x>100</x>
			<y>13</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LScore'>
			<x>45</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Score:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TScore'>
			<x>100</x>
			<y>23</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LWUs'>
			<x>45</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>WUs:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TWUs'>
			<x>100</x>
			<y>33</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LRank'>
			<x>45</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>Rank:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TRank'>
			<x>100</x>
			<y>43</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LMembers'>
			<x>45</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Members:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TMembers'>
			<x>100</x>
			<y>53</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='LTeamNumber'>
			<x>45</x>
			<y>63</y>
			<w>0</w>
			<h>0</h>
			<v>Number:</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
		<Item id='TTeamNumber'>
			<x>100</x>
			<y>63</y>
			<w>0</w>
			<h>0</h>
			<v>Null</v>
			<s>None</s>
			<c>None</c>
			<f>None</f>
			<sw>None</sw>
		</Item>
	</Mode>
</Theme>
